<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo web app to test metrics</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Demo web app to test metrics</h1>
<p>Sample web application to test a servlet filter that gathers the following metrics: request processing time and
    response body size.</p>
<br/>
<a href="/metrics">Metrics summary</a><br/>
<a href="/search">Search results</a><br/>
<a href="/allResults">All results</a><br/>
<a href="/random">Random page</a><br/>
</body>
</html>